
<div class="nav-restaurante ">
    <ul class="nav flex-column nav-color ">
        <li class="nav-item nav-centrar ">
            <h2>Refresquerías</h2>
        </li>
        <li class="nav-item ">
            <a class="nav-link item-res" href="#"> <img src="../../../assets/img/24-horas.svg" alt=""
                    class="iconos">Jusgos daniela</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link item-res" href="#"><img src="../../../assets/img/24-horas.svg" alt=""
                    class="iconos">Milo jugos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link item-res" href="#"><img src="../../../assets/img/24-horas.svg" alt=""
                    class="iconos">Cosechasr</a>
        </li>

    </ul>
</div>