<div class="con-menu">
    <div class="card">
        <img src="../../../assets/img/emiliano-vittoriosi-OFismyezPnY-unsplash.jpg">
        <div class="datos">
            <h5>Albondigas, bañadas en salsa</h5>
            <h6><strong>Delicias</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>

    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/leo-roza-S98UWailaOA-unsplash.jpg">
        <div class="datos">
            <h5>Hamburguesa doble</h5>
            <h6><strong>Cali burguer</strong></h6>
            <h4>Precio: 20.000</h4>
            <div class="linea">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">
                <img src="../../../assets/img/star.svg" alt="10px">

                <button class="btn btn-color  my-2 my-sm-0" type="submit">Ver mas</button>
            </div>
        </div>
    </div>



</div>

